<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/html">
<head>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 50px;
            padding-bottom: 40px;
        }
    </style>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/www.js"></script>
    <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>-->
    <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
    <title>{%block title%}WikiMart Spider{%endblock%}</title>
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">WikiMart Spider</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="/">Сайты</a></li>
                    <li><a href="/stat/">Статистика запусков</a></li>
                    <!--<li><a href="#contact">Contact</a></li>-->
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {% block container%} {% endblock %}
    <hr>

    <footer>
        <p>&copy; 2012 <a href="mailto:arseniy.sluchevskiy@gmail.com">Arseniy Sluchevskiy</a></p>
    </footer>
</div>
<!-- /container -->
</body>
</html>
