<div>{{ item.description }}</div>
{% if item.properties %}
<div>
    <table>
        <tr>
            <th>Характеристика</th>
            <th>Значение</th>
        </tr>
        {% for property in item.properties %}
        <tr>
            <td>{{ property.property }}</td>
            <td>{{ property.value }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}