{% extends "base.html" %}
{% from "_formhelpers.html" import form_field, form_fields, action_buttons %}

{% block container %}

<h2>Сайты</h2> URL

<table class="table table-bordered" style="margin-top: 10px;">
<thead>
<tr>
    <th>Магазин</th>
    <th>Категории</th>
    <th>Действия</th>
</tr>
</thead>
<tbody>
{% for site in sites %}
    <tr>
        <td>
            <a href="{{ site.url }}" target="_blank">{{ site.name }}</a>
        </td>
        <td>
            {% for cat in site.categories %}
            {{ cat }}<br>
            {% endfor %}
        </td>
        <td>
            <a class="btn btn-success" href="#"><i class="icon-play icon-white"></i>Парсить</a>
            <a class="btn" href="#"><i class="icon-download"></i>CSV</a>
            <a class="btn btn-primary" onclick="expand('#edit_{{ site._id }}')"><i class="icon-edit icon-white"></i>Править</a>
            <a class="btn btn-danger" href="#"><i class="icon-trash icon-white"></i>Удалить</a>
        </td>
    </tr>
    <tr class="hide" id="edit_{{ site._id }}">
        <td colspan="4">
            <form class="well">
            </form>
        </td>
    </tr>
{% endfor %}
</tbody>
</table>
<a class="btn btn-success" onclick="expand('#add_site')"><i class="icon-plus icon-white"></i>Добавить сайт</a>
<!--<script type="text/javascript">-->
    <!--$(document).ready(function(){-->
        <!--$('#add_site').submit(function(){-->
<!--//            $.post('/ajax/add/', $('#add_site').serialize())-->
        <!--})-->
    <!--})-->
<!--</script>-->
<!--<form class="well" id="add_site" style="margin-top: 10px;" method="post" action="/ajax/add/">-->
<form class="well" id="add_site" style="margin-top: 10px;">
    {{ form_fields(form) }}
    <!--<button type="submit" class="btn btn-primary">Добавить</button>-->
    <a class="btn btn-primary" onclick="$.post('/ajax/add/', $('#add_site').serialize(), alert)">Добавить</a>
</form>
<hr>

<h2>Действия</h2>
<div class="btn-toolbar" style="margin-top: 10px;">
    <!--<div class="btn-group">-->
        <a class="btn btn-success" href="#"><i class="icon-play icon-white"></i>Парсить всё</a>
        <a class="btn btn-warning" href="#"><i class="icon-stop icon-white"></i>Прервать всё</a>
    <!--</div>-->
</div>
<!--<a class="btn btn-danger" href="#"><i class="icon-trash icon-white"></i>Очистить все данные</a>-->

{% endblock %}